<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <main id="app">
    <div class="wrapper">

      <div class="input-container">
        <h1>{{ title }}</h1>

        <div class="input-content">
          <form id="addForm" @submit.prevent="addTodo">
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo" class="todo-input"
              placeholder="I need to...">
            <div class="btn-container">
              <button @click="checkForm" id="addBtn" class="main-btn" type="submit" name="button">Add</button>
            </div>
          </form>
        </div>

        <div id="message-box" class="message-box">
          <p class="message-text">{{ message }}</p>
          <p class="message-text">{{ errorMessage }} </p>
        </div>

      </div>

      <div class="list-container">
        <div class="list-content">
          <!--If there are tasks-->
          <ul v-if="todos.length">
            <li v-for="todo in todos">
              <input type="checkbox" v-model="todo.done" id="todo">
              <span :class="{ done: todo.done }">{{ todo.title }}</span>
              <button @click="removeTodo(todo)" type="button" class="remove-btn">Remove</button>
            </li>
          </ul>
          <!--No Tasks-->
          <div v-else class="no-note-container">
            <div class="no-note-content">
              <i class="fas fa-sticky-note fa-7x"></i>
              <span>Nothing to do! Whooo!!!</span>
            </div>
          </div>
        </div>

        <!--Complete All Btn-->
        <div v-if="todos.length" class="btn-container alldone-btn">
          <button @click="allDone" type="button" name="button" class="main-btn">All Done</button>
        </div>

      </div>
    </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')   
  </script>
  <script src="app.js"></script>
</body>

</html>